@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 0px;
}

/* Applies to Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 8px; /* makes the scrollbar thin */
  height: 8px; /* horizontal scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* no track background or set a color */
}

::-webkit-scrollbar-thumb {
  background-color: #91c2c2; /* darkish thumb */
  border-radius: 8px;
  border: 2px solid transparent; /* optional space around thumb */
  background-clip: content-box; /* ensures border is transparent */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

body {
  font-family: "Montserrat", sans-serif !important;
  color: #000;
  position: relative;
  background-color: #fff;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/img/bgclippath.png") center/cover no-repeat;
  z-index: -1;
  transition: background-image 1s ease, background-position 1s ease;
}

.section-three .section-title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-three .stat-number {
  font-size: 48px;
  font-weight: bold;
}

.section-three .stat-desc {
  font-size: 24px;
  padding: 5px 10px;
}

body.bg-alt::after {
  background-image: url("/img/clippath2.png");
  background-position: center bottom;
}

body.bg-altthird::after {
  background-image: url("/img/clippath3.png");
  background-position: center bottom;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #003869;
}

/* Toggle switch from your code */
.toggle-switch {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}
.toggle-switch input {
  display: none;
}
.toggle-switch label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box;
}
.toggle-switch label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 23px;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}
.toggle-switch input:checked + label::after {
  left: 32px;
}

.services-section {
  position: relative;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Card container */
.service-card {
  background: #fff;
  border: 2px solid #2bbfaf; /* teal-like color for the border */
  border-radius: 8px;
  height: 354px; /* rounded corners */
  transition: box-shadow 0.2s ease-in-out;
}

/* Optional hover effect */
.service-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Icon styling */
.service-icon img {
  max-width: 100%;
  height: auto;
}

/* Title */
.service-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000; /* or #333, etc. */
}
.service-desc {
  color: #555;
  line-height: 1.4;
  font-size: 0.95rem;
}

.service-underline {
  width: 40px;
  opacity: 0;
  height: 3px;
  transition: all 0.5s;
  background-color: #2bbfaf;
  /*sametealcolorasborder*/
  border-radius: 2px;
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -ms-transition: all 0;
  -o-transition: all 0;
}

@media (max-width: 768px) {
  .service-title {
    font-size: 1.15rem;
  }
  .service-desc {
    font-size: 0.9rem;
  }
}

.inner-footer {
  margin-bottom: 20px;
}

/* ********************DARK MODE STYLES APPLIES IN HERE ****************/

.dark-mode {
  background-color: #023d71;
  color: #fff;
}
.dark-mode .inner-footer {
  background-color: #023d71;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #222 !important;
  border-bottom: none !important;
}
.dark-mode .custom-footer::before {
  background-color: #0e2f58;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffd700 !important;
}

.dark-mode .xidmetlerbtn {
  color: #fff;
  border-color: #fff;
}

.dark-mode .toggle-switch label {
  background: #333;
  border-color: #fff;
}

.dark-mode .navbar {
  background: linear-gradient(to bottom, #a1b8cd, #023d71);
  background: linear-gradient(to bottom, #a1b8cd, 0%, #a1b8cd, 30%, #023d71 100%);
  background: -webkit-linear-gradient(top, #a1b8cd, #023d71);
  background: -o-linear-gradient(top, #a1b8cd, #023d71);
  background: -moz-linear-gradient(top, #a1b8cd, #023d71);
}
.dark-mode .toggle-switch label::after {
  background: #0e2f58;
}

.dark-mode .content-wrapper {
  color: white;
}

.service-card:hover .service-underline {
  opacity: 1;
}
.dark-mode .toggle-switch label {
  background: transparent;
  border-color: #0e2f58;
}

.dark-mode .footer-lines {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dark-mode .footer-logo {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dark-mode .footer-contact-link {
  color: #fff;
}

.dark-mode .footer-content {
  border-color: #fff;
}
.dark-mode .custom-footer {
  background-color: #0e2f58;
  color: #fff;
}

/* 3. HERO SECTION */
.hero {
  padding: 150px 0;
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.hero-list {
  list-style-type: disc;
  padding-left: 1.6rem;
  margin-bottom: 2rem;
}
.hero-list li {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

/* 4. BUTTONS */
.btn-outline-dark {
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border-width: 1px;
}

@media (max-width: 992px) {
  .hero::after {
    width: 100%;
    opacity: 0.4;
  }
  .hero-list li {
    font-size: 1.5rem;
  }
}

/* SECTION 3 */

.section-three {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 200px;
  background: url("/img/section3-wave-pattern.svg") no-repeat center center;
  background-size: cover;
  color: #000;
}

.content-wrapper {
  text-align: center;
  width: 100%;
}

.section-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 110px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-desc {
  font-size: 24px;
  padding: 0 10px;
  font-weight: bold;
}

/* Footer container */
.custom-footer {
  width: 100%;
  border-top: 1px solid #000;
  padding: 0.5rem 1rem;
}

/* Flex container for the three regions */
.footer-content {
  display: flex;
  border: 1px solid #000;
  align-items: center;
  max-width: 70%;
  margin: 200px auto;
  position: relative;
  padding: 27px;
  opacity: 0;
  /* transform: translateY(100px);  */
  /* transition: transform 1.5s ease, opacity 1.5s ease; */
}

.dark-mode .section-title {
  color: white;
}

.footer-content.animate {
  opacity: 1;
  transform: translateY(0);
}
/* Left section: logo + copyright */
.footer-left {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-right: 140px;
}
.footer-logo {
  height: 40px;
  margin-right: 1rem;
}
.footer-copyright {
  font-size: 0.9rem;
  margin: 17px 0;
}

/* Middle section: Əlaqə + email */
.footer-middle {
  text-align: start;
}
.footer-contact-title {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-size: 18px;
}
.footer-contact-link {
  text-decoration: none;
  color: #000;
  padding: 20px 0;
  display: block;
  font-size: 0.95rem;
}

.footer-lines {
  height: 150px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.custom-footer {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  color: #000;
}

/* .custom-footer::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: slideUpBackground 1.5s ease-in-out forwards 0.5s;
} */

@keyframes slideUpBackground {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  section {
    height: 100%;
  }
  .section-three .section-title {
    font-size: 18px;
  }
  .stats {
    display: block;
  }
  .footer-content {
    display: block;
    max-width: 80%;
  }
  .footer-right {
    display: none;
  }

  .footer-left {
    display: block;
    margin-right: 0;
  }

  .navbarheader {
    display: flex;
    flex-direction: column;
  }

  .leftcontactnav {
    flex-direction: column;
  }
}

/* General Media Queries */
@media (max-width: 576px) {
  .hero-list li {
    font-size: 1rem;
  }
  .service-card {
    padding: 1rem;
  }
  .service-title {
    font-size: 0.9rem;
  }
}

/* XIdmetler css */

section {
  height: 100%;
  scroll-snap-align: none;
}

/* You can style each box, icons, etc. further in /style.css */
.service-item {
  border: 1px solid #000;
  background-color: white;
}
.footer-content {
  background-color: white;
}
.service-icon {
  font-size: 2rem;
}
.service-header {
  font-weight: 600;
}

.footer-content {
  max-width: 100%;
  opacity: 1 !important;
  margin: 0;
}

.logo-item {
  margin-right: 20px;
}

.col-1 {
  width: 11.333333%;
}
.col-11 {
  width: 86.666667%;
}

.service-item img {
  width: 55px;
}

.dark-mode .xidmetler-container {
  color: #000;
}
@media (max-width: 768px) {
  .inner-footer {
    padding: 61px !important;
  }
  .service-item img {
    width: 31px !important;
    margin: 0 !important;
  }
  .xidmetler-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Portfle */

.service-item {
  border: 1px solid #000;
}
.service-icon {
  font-size: 2rem;
}
.service-header {
  font-weight: 600;
}

.footer-content {
  max-width: 100%;
  margin: 0;
}

.logo-item {
  margin-right: 20px;
}

.col-1 {
  width: 11.333333%;
}
.col-11 {
  width: 86.666667%;
}

.service-item img {
  width: 55px;
}
.service {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.service img {
  width: 100%;
  height: auto;
}

.footer-content {
  background-color: white;
  opacity: 1;
}

.col {
  padding: 10px;
}

.service-title {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.integration-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.integration-content {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 20px;
}
.integration-image {
  flex: 1;
  position: relative;
  z-index: 1;
}
.integration-image img {
  max-width: 100%;
  border: 1px solid #ddd;
}
.integration-title {
  font-weight: bold;
  font-size: 32px;
}
.integration-subtitle {
  font-size: 26px;
  font-weight: 500;
}

.dark-mode .ferqimizimages {
  filter: grayscale(1) brightness(1000%);
}

.integrationbox-item {
  display: flex;
  background: white;
  border: 1px solid #000;
  height: 419px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.integrationbox-img {
  border: 1px solid;
  padding: 20px;
  background: white;
}
.integrationbox-img img {
  width: 100%;
  height: 377px;
  object-fit: cover;
}

.dark-mode .integrationbox-item {
  color: #023d71;
}

@media (max-width: 768px) {
  .inner-footer {
    padding: 61px !important;
  }
  .service-item img {
    width: 31px !important;
    margin: 0 !important;
  }
  .xidmetler-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  #logotechpover {
    width: 90px;
  }
  .leftcontactnav {
    align-items: start !important;
    margin: 0;
    padding: 0;
  }
  #navbarNav {
    margin: 0 !important;
    padding: 0 !important;
  }

  .integration-title {
    font-size: 8px;
  }
  .integration-subtitle {
    font-size: 12px;
  }
  .ferqimizimages {
    width: 50px;
    margin: 10px;
  }
  .section-title {
    font-size: 24px;
    margin-top: 20px;
  }
  .icons {
    display: block;
  }
  .section-three {
    padding-top: 30px;
    height: 75vh;
  }
  .xidmetler-container {
    padding-top: 0 !important;
  }

  .section-three .stat-number {
    margin-bottom: 30px;
  }
  .stats {
    width: 70%;
  }
}

@media (min-width: 1080px) {
  .ferqimizimages {
    width: 140px;
    margin: 60px;
  }
}

@media (min-width: 1440px) {
  .ferqimizimages {
    width: 150px;
    margin: 83px;
  }
}
